.accountDropdown {
  position: relative;
  display: inline-block;
}

.accountButton {
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dropdownMenu {
  display: block;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdownMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownMenu a:hover {
  background-color: #f1f1f1;
}

.arrowIcon {
  width: 26px;
  height: 26px;
  filter: invert(1);
}

@media screen and (max-width: 400px) {
  .accountButton {
    font-size: 12px;
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
  }
}
