.appHeader {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212121;
  padding: 20px 20px;
  position: relative;
  min-height: 40px;
}

@media screen and (max-width: 576px) {
  .appHeader {
    padding: 20px 0 20px 20px;
  }
}

.spotifyLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  cursor: pointer;
}

.dropdownContainer {
  margin-left: auto;
}
