.recentlyPlayedTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.recentlyPlayedTable th,
.recentlyPlayedTable td {
  padding: 8px;
  text-align: center;
  width: 33.33%;
}

.recentlyPlayedTable th {
  padding-bottom: 20px;
}

.trackName,
.artistName,
.timePlayed {
  font-size: 16px;
  font-weight: noram;
}

.recentlyPlayedTitle {
  padding-bottom: 10px;
}

tr {
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .recentlyPlayedTable th,
  .recentlyPlayedTable td {
    padding: 4px;
  }

  .trackName,
  .artistName,
  .timePlayed {
    font-size: 10px;
    font-weight: normal;
  }

  .recentlyPlayedTitle {
    font-weight: normal;
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .recentlyPlayedTable th,
  .recentlyPlayedTable td {
    padding: 4px;
  }

  .trackName,
  .artistName,
  .timePlayed {
    font-size: 4px;
    font-weight: normal;
  }

  .recentlyPlayedTitle {
    font-weight: normal;
    font-size: 6px;
  }
}
