.App {
  text-align: center;
}

.appContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: calc(6px + 2vmin);
}

.loginBox {
  border-radius: 25px;
  background: #212121;
  padding: 20px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #1db954;
}
