/* src/components/AccountDropdown.css */
.account-dropdown {
  position: relative;
  display: inline-block;
}

.account-button {
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
