/* Style the tab */
.tab {
  margin-top: 30px;
  overflow: hidden;
  background-color: white;
  display: flex; /* Use flexbox for layout */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  flex: 1; /* Make each button equally sized */
  text-align: center; /* Center the text */
}

.tab button:hover {
  color: white;
}

.tab button.active {
  background-color: #1db954;
  color: white;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 24px;
  border: 1px solid #b3b3b3;
  border-top: none;
}

.tablinks {
  background-color: #b3b3b3;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .tab {
    flex-direction: column; /* Stack tabs vertically */
  }
  .tab button {
    flex: none; /* Reset the flex property */
    width: 100%; /* Make buttons full width */
  }
}
