.topTracksTable {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.numberCount {
  font-size: 16px;
  padding: 0 10px 0 10px;
}

.topTrackArtistImage img {
  width: 50px;
  height: 50px;
}

.topTrackDetail {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 26px;
}

.topTrackArtist {
  font-size: 18px;
  font-weight: bold;
}

.topTrackTitle {
  font-size: 16px;
}

@media (max-width: 768px) {
  .topTracksTable {
    width: 100%;
  }

  .topTrackDetail {
    padding-left: 0;
  }

  .topTrackArtist {
    font-size: 8px;
  }

  .topTrackTitle {
    font-size: 8px;
  }

  .topTrackArtistImage img {
    width: 25px;
    height: 25px;
  }

  .numberCount {
    padding-right: 0;
    font-size: 8px;
  }
}
